# Project
NODE_ENV=development

# PostgreSQL / PostGIS
POSTGRES_USER=icel_user
POSTGRES_PASSWORD=icel_password
POSTGRES_DB=icel_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379