NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://icel_user:icel_password@localhost:5432/icel_db?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000